@import "react-slideshow-image/dist/styles.css";

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.fondarchive{
  background-image: url(../assets/archives.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.containerSlide {
  
  margin: auto;
  padding-top: 200px;
  background-color: white;
}

.containerSlide img {
  height: 500px;
}
