ul li{
  list-style: none;
}
.noustrouver{
  background-color: white;
  margin: auto;
  padding: 2% 5% 5%;
  text-align: center;
  color: rgb(66, 63, 63);
}
.info-txt{
  width: 50%;
  margin: auto;
}
.map{
  padding: 30px;
}
.faq{
  padding: 30px;
}