
.fondinfo{
    background-image: url(../assets/infos_site.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
ul li{
  list-style: none;
}
.noustrouver{
  background-color: white;
  margin: auto;
  padding: 2% 5% 5%;
  text-align: center;
  color: rgb(66, 63, 63);
}
.info-txt{
  width: 50%;
  margin: auto;
  color: rgb(66, 63, 63);
}
.map{
  padding: 30px;
}
.faq{
  padding: 30px;
  padding-bottom: 20%;
}
.logo-tan{
  width: 30%;
}