html {
  width: 100vw;
}
body {
  width: 100vw;
}
.fond {
  background-image: url(../assets/homepage_site.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.edito {
  background-color: white;
  margin: auto;
  margin-top: -140px;
  padding: 5% 30%;
  text-align: justify;
  color: rgb(66, 63, 63);
  padding-bottom: 20%;
  line-height: 1.5;
}
.citation{
  font-style: italic;
}
.signature{
  text-align:end;
}