html {
  width: 100vw;
}
body {
  width: 100vw;
}
.fond {
  background-image: linear-gradient(rgba(181, 112, 112, 0.6), rgba(112, 122, 181, 0.6)), url(../assets/fond.JPG);
  background-attachment: fixed;
  background-position: center;
  
}
.edito {
  background-color: white;
  margin: auto;
  padding: 5% 30%;
  text-align: justify;
  color: rgb(66, 63, 63);
}
.citation{
  font-style: italic;
}