.main-title {
  text-decoration: none;
  color: white;
  font-weight: bold;
  width: 200px;
  border: solid 5px white;
  padding: 50px;
  margin: 130px auto;
}
.fondasso {
  background-image: url(../assets/asso_site.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  background-color: white;
  text-align: justify;
  padding-bottom: 20%;
}
.paragraph {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;
    line-height: 1.5;
    padding-top: 70px;
}
.text p {
  margin-left: 20%;
  margin-right: 20%;
  
  
}
.photo {
  width: 390px;
  height: 300px;
  padding: 2px;
  margin-top: 130px;
}
.photo1 {
  width: 390px;
  height: 300px;
  padding: 2px;
  margin-top: 130px;
}
.photo3 {
  width: 390px;
  height: 300px;
  padding: 2px;
  margin-top: 130px;
}
.text-paragraph {
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  text-align: justify;
}

.text-paragraph h2 {
  text-align: center;
  font-size: 240%;
}
