
.main-title {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
  height: 200px;
}

.container {
  background-color: white;
  margin: auto;
  margin-bottom: 20px;
}
.paragraph{
  display:flex;
  flex-direction:row;
}
.text p{
  margin-left:20%;
  margin-right:20%;
}