 .question{
  background-color: #b2101d;
  width: 47%;
  margin: auto;
  padding: 20px;
} 
.Collapsible{
  width: 47%;
  margin: auto;
}

.Collapsible__trigger{
  color:black;
  font-weight: bolder;
  width: 47%;
  margin: auto;
}