 .question{
  border: solid 2px;
  width: 47%;
  margin: auto;
  padding: 20px;
} 
.Collapsible{
  width: 47%;
  margin: auto;
}
.Collapsible__trigger{
  font-weight: bolder;
  width: 47%;
  margin: auto;
}