@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
  box-sizing: border-box;
}
.navigation-box {
  width: 85%;
  font-size: 155%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 25px;
  margin: auto;
  
}
.navigation-box li {
  height: 120px;
  background-color: transparent;
  width: 49%;
  padding-top: 11%;
  border: solid 5px white;
  font-weight: bolder;
}

.link-box {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
}

.blog {
    background-color: #b2101d;
    color: white;
    position: relative;
    height: 11px;
    width: 12%;
    padding: 5%;
    border: solid 5px white;
    z-index: 1;
    top: -351px;
    left: 39%;
    padding-bottom: 25%;
    padding-top: 2%;
    padding-bottom: 6%;
}
.blog a{
  font-family: 'Amatic SC';
  text-decoration: none;
  color:white;
  font-weight: bolder;
  text-align: center;
  font-size: xxx-large;
  padding-bottom: 25%;
}
