body {
  box-sizing: border-box;
}
.navigation-box {
  width: 85%;
  font-size: 155%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 25px;
  margin: auto;
  
}
.navigation-box li {
  height: 120px;
  background-color: transparent;
  width: 49%;
  padding-top: 11%;
  border: solid 5px white;
}

.link-box {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
}

.blog {
  position: relative;
  height: 20px;
  background-color: rgb(173, 179, 179);
  width: 15%;
  padding: 5%;
  border: solid 5px white;
  z-index: 1;
  top: -357px;
  left: 37%;
  font-size: larger;
}

.blog a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
}
