body {
  box-sizing: border-box;
}
.navigation-box {
  width: 100%;
  font-size: 155%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 25px;
}
.navigation-box li {
  height: 120px;
  background-color: transparent;
  width: 49%;
  padding-top: 11%;
  border: solid 2px white;
}

.link-box {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
}

.blog {
  position: relative;
  height: 30px;
  background-color: rgb(24, 219, 219);
  width: 30%;
  padding: 6%;
  border: solid 2px black;
  z-index: 1;
  top: -370px;
  left: 30%;
  font-size: larger;
}

/* .link-box {
  height: 350px;
  width: 50%;
  text-decoration: none;
  color: red;
  font-weight: bold;
  text-align: center;
  border: solid 2px black;
} */
