.footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#b2101d;
}
.logo{
  margin-right: 10%;
}
.logo p{
 width: 150px;
 font-size: 15px;
}
.logo-ville{
  width: 150px;
}
.espace{
  margin-left: 35%;
}