@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
 
}

.logo1 {
  width: 100px;
  padding: 5px;
}


.titre1 {
  align-self: flex-end;
  }

  .blog {
    text-decoration: none;
    color:black;
    font-family:'Birthstone';
    font-weight: bolder;
    font-size: 75px;
    align-self: flex-end;
    padding-right: 3%;
  }