.navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: #b2101d;
  margin: 0;
  padding: 10px;
}
.navigation li {
  margin-top: 30px;
}
.logo {
  height: 5%;
  width: 90px;
}
.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
