.navigation {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 10px;
}
.navigation li {
  margin-top: 30px;
  margin-right: 15px;
}
.link {
  color: white;
  font-weight: bold;
}
